# Challenges for week 2

Now that we've seen how Python and Jupyter Notebooks work and that you have read about Digital Analytics and Computational Social Science, it's time for you to combine apply this knowledge. This week has three challenges. 

Each challenge has three components:
1. **Programming**: Applying one of the programming or data analysis steps in Python you learned in the tutorial
2. **Interpretation**: Explaining what you are doing and interpreting the results of the data analysis in MarkDown 
3. **Reflection**: Connecting these concepts with the literature of the week in a short reflection (*max 300 words*)

**Some important notes for the challenges:**
1. These challenges are a warming up, and help you get ready for class. Make sure to give them a try on all of them. If you get an error message, try to troubleshoot it (using Google often helps). If all else fails, go to the next challenge (but make sure to hand it in).
2. While we of course like when you get all the answers right, the important thing is to exercise and apply the knowledge. So we will still accept challenges that may not be complete, as long as we see enough effort *for each challenge*. The rubric (see Canvas) reflects this.
3. Delivering the challenge on time on Canvas assignment is critical, as it helps also prepare for the DA live session. Check on Canvas how to hand it in.

### Facing issues? 

We are constantly monitoring the issues on the GitHub to help you out. Don't hesitate to log an issue there, explaining well what the problem is, showing the code you are using, and the error message you may be receiving. 

**Important:** We are only monitoring the repository in weekdays, from 9.30 to 17.00. Issues logged after this time will most likely be answered the next day. This means you should not wait for our response before submitting a challenge :-)


## Challenge 1


### Programming challenge

Collect Twitter data using ```twarc``` if you have the developer credentials approved (see the Twitter API training details on Canvas) or request Twitter data to the lecturers (see Canvas) and use that file. Load that file using ```pandas``` and:
1. Display the first 5 rows
2. Check which columns the dataframe contains
3. Check which columns have missing values
4. Check how many tweets are available in the dataset
5. Calculate the average and the standard deviation of retweets and favorites
6. Calculate the average, minimum and maximum number of followers that users in the dataset have
7. Indicate the most popular languages in the dataset

### Interpretation

Write a **technical** and a **business** summary for your dataset, aimed at a stakeholder in an organization. 

* The **technical** summary should contain some specifications about the dataset (e.g., how it was collected, what tool was used, its length, presence of missing values, columns contained etc.). 
* The **business** summary should contain information relevant to a stakeholder (e.g., metrics such as retweets, favorites, information about the languages or users).

Use Markdown formatting to make the summary clear and visually appealing, and constantly refer to the output of the code to substantiate your claims. If needed, you can combine the code with the summary (e.g., start the summary in markdown, run the relevant code in the next cell, and interpret the output using MarkDown in the next cell).

### Reflection

Wagner et al. (2021) discuss a set of important challenges for measurement in what they call *algorithmically infused societies*. Select one relevant challenge that they discuss in their text, and relate to the Twitter data you have just loaded and reviewed. How are the measures that you have just reported to stakeholders (in the interpretation section) affected by this challenge? Please motivate your response, and be as specific as possible.

In [1]:
import pandas as pd

In [2]:
df_ev = pd.read_json('../2_DA2/eurovision.jsonl', lines=True)

In [3]:
df_ev.head()

,created_at,id,id_str,full_text,truncated,display_text_range,entities,metadata,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,lang,retweeted_status,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status
0,2022-05-20 21:25:01+00:00,1527762341298946053,1527762341298946048,"Netherlands so robbed this year, i will never ...",False,"[0, 88]","{'hashtags': [{'text': 'eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1.527761e+18,...,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-20 21:25:00+00:00,1527762337503100928,1527762337503100928,RT @Drazmihailovitx: Tanto la legitimaci贸n en ...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 17:16:34 +0000 2022...,NaN,NaN,NaN,NaN,NaN
2,2022-05-20 21:24:58+00:00,1527762329789669378,1527762329789669376,22. Ireland \n\nbrooke shouldve qualified a...,False,"[0, 109]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",1.527761e+18,...,0,False,False,en,NaN,"{'media': [{'id': 1524732896736690177, 'id_str...",0.0,NaN,NaN,NaN
3,2022-05-20 21:24:58+00:00,1527762329168912384,1527762329168912384,RT @IamLeroySanchez: Making History @Chanel...,False,"[0, 119]","{'hashtags': [{'text': 'Eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,en,{'created_at': 'Fri May 20 11:00:58 +0000 2022...,"{'media': [{'id': 1527605171995418624, 'id_str...",0.0,NaN,NaN,NaN
4,2022-05-20 21:24:57+00:00,1527762325284892672,1527762325284892672,RT @DaniMayakovski: Estos son los heroes occid...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 19:54:20 +0000 2022...,NaN,NaN,NaN,NaN,NaN

In [4]:
len(df_ev)

300

In [5]:
df_ev.columns

Index(['created_at', 'id', 'id_str', 'full_text', 'truncated',
       'display_text_range', 'entities', 'metadata', 'source',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'retweet_count', 'favorite_count',
       'favorited', 'retweeted', 'lang', 'retweeted_status',
       'extended_entities', 'possibly_sensitive', 'quoted_status_id',
       'quoted_status_id_str', 'quoted_status'],
      dtype='object')

In [6]:
df_ev.isna().sum()

created_at                     0
id                             0
id_str                         0
full_text                      0
truncated                      0
display_text_range             0
entities                       0
metadata                       0
source                         0
in_reply_to_status_id        255
in_reply_to_status_id_str    255
in_reply_to_user_id          250
in_reply_to_user_id_str      250
in_reply_to_screen_name      250
user                           0
geo                          300
coordinates                  300
place                        294
contributors                 300
is_quote_status                0
retweet_count                  0
favorite_count                 0
favorited                      0
retweeted                      0
lang                           0
retweeted_status             121
extended_entities            237
possibly_sensitive           218
quoted_status_id             291
quoted_status_id_str         291
quoted_status                296
dtype: int64

In [7]:
df_ev

,created_at,id,id_str,full_text,truncated,display_text_range,entities,metadata,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,lang,retweeted_status,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status
0,2022-05-20 21:25:01+00:00,1527762341298946053,1527762341298946048,"Netherlands so robbed this year, i will never ...",False,"[0, 88]","{'hashtags': [{'text': 'eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1.527761e+18,...,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-20 21:25:00+00:00,1527762337503100928,1527762337503100928,RT @Drazmihailovitx: Tanto la legitimaci贸n en ...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 17:16:34 +0000 2022...,NaN,NaN,NaN,NaN,NaN
2,2022-05-20 21:24:58+00:00,1527762329789669378,1527762329789669376,22. Ireland \n\nbrooke shouldve qualified a...,False,"[0, 109]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",1.527761e+18,...,0,False,False,en,NaN,"{'media': [{'id': 1524732896736690177, 'id_str...",0.0,NaN,NaN,NaN
3,2022-05-20 21:24:58+00:00,1527762329168912384,1527762329168912384,RT @IamLeroySanchez: Making History @Chanel...,False,"[0, 119]","{'hashtags': [{'text': 'Eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,en,{'created_at': 'Fri May 20 11:00:58 +0000 2022...,"{'media': [{'id': 1527605171995418624, 'id_str...",0.0,NaN,NaN,NaN
4,2022-05-20 21:24:57+00:00,1527762325284892672,1527762325284892672,RT @DaniMayakovski: Estos son los heroes occid...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 19:54:20 +0000 2022...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2022-05-20 21:14:43+00:00,1527759752125718528,1527759752125718528,Sam Ryder playing concerts after eurovision an...,False,"[0, 61]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,en,NaN,"{'media': [{'id': 1527759558386515968, 'id_str...",0.0,NaN,NaN,NaN
296,2022-05-20 21:14:42+00:00,1527759746249510913,1527759746249510912,RT @cris_ayala_: Las muestras de cari帽o al rey...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 13:12:26 +0000 2022...,NaN,NaN,NaN,NaN,NaN
297,2022-05-20 21:14:36+00:00,1527759719112314882,1527759719112314880,RT @ManriqueVity: Os imagin谩is un canal de tv ...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,es,{'created_at': 'Thu May 19 20:10:58 +0000 2022...,NaN,NaN,NaN,NaN,NaN
298,2022-05-20 21:14:29+00:00,1527759690372984832,1527759690372984832,RT @rariiiiisima: Solo pido que todos los a帽os...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Thu May 19 21:05:13 +0000 2022...,NaN,NaN,1.527271e+18,1.527271e+18,NaN
299,2022-05-20 21:14:27+00:00,1527759684140158982,1527759684140158976,RT @theswedenboo: most recent 10th places at E...,False,"[0, 122]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,en,{'created_at': 'Fri May 20 14:20:55 +0000 2022...,"{'media': [{'id': 1527655608480149505, 'id_str...",0.0,NaN,NaN,NaN

In [8]:
len(df_ev)

300

In [9]:
df_ev.describe()

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,geo,coordinates,contributors,retweet_count,favorite_count,possibly_sensitive,quoted_status_id,quoted_status_id_str
count,3.000000e+02,3.000000e+02,4.500000e+01,4.500000e+01,5.000000e+01,5.000000e+01,0.0,0.0,0.0,300.000000,300.000000,82.000000,9.000000e+00,9.000000e+00
mean,1.527761e+18,1.527761e+18,1.527709e+18,1.527709e+18,5.471121e+17,5.471121e+17,NaN,NaN,NaN,131.663333,0.333333,0.048780,1.527093e+18,1.527093e+18
std,7.469430e+11,7.469430e+11,1.229518e+14,1.229518e+14,6.634163e+17,6.634163e+17,NaN,NaN,NaN,401.379173,1.646590,0.216734,8.498380e+14,8.498380e+14
min,1.527760e+18,1.527760e+18,1.527310e+18,1.527310e+18,1.443632e+07,1.443632e+07,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.525124e+18,1.525124e+18
25%,1.527760e+18,1.527760e+18,1.527742e+18,1.527742e+18,2.885561e+08,2.885561e+08,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.527271e+18,1.527271e+18
50%,1.527761e+18,1.527761e+18,1.527756e+18,1.527756e+18,1.988654e+09,1.988654e+09,NaN,NaN,NaN,7.000000,0.000000,0.000000,1.527474e+18,1.527474e+18
75%,1.527762e+18,1.527762e+18,1.527760e+18,1.527760e+18,1.311599e+18,1.311599e+18,NaN,NaN,NaN,63.000000,0.000000,0.000000,1.527596e+18,1.527596e+18
max,1.527762e+18,1.527762e+18,1.527762e+18,1.527762e+18,1.523383e+18,1.523383e+18,NaN,NaN,NaN,4434.000000,16.000000,1.000000,1.527618e+18,1.527618e+18

In [10]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [11]:
df_ev.describe()

,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,geo,coordinates,contributors,retweet_count,favorite_count,possibly_sensitive,quoted_status_id,quoted_status_id_str
count,300.00000,300.00000,45.00000,45.00000,50.00000,50.00000,0.00000,0.00000,0.00000,300.00000,300.00000,82.00000,9.00000,9.00000
mean,1527761069162088448.00000,1527761069162088448.00000,1527708638157762304.00000,1527708638157762304.00000,547112112206716928.00000,547112112206716928.00000,NaN,NaN,NaN,131.66333,0.33333,0.04878,1527093130574570752.00000,1527093130574570752.00000
std,746943003891.76855,746943003891.76855,122951801974023.85938,122951801974023.85938,663416323627907968.00000,663416323627907968.00000,NaN,NaN,NaN,401.37917,1.64659,0.21673,849837971808191.37500,849837971808191.37500
min,1527759684140158976.00000,1527759684140158976.00000,1527309871246323712.00000,1527309871246323712.00000,14436317.00000,14436317.00000,NaN,NaN,NaN,0.00000,0.00000,0.00000,1525123590932373504.00000,1525123590932373504.00000
25%,1527760487698619392.00000,1527760487698619392.00000,1527741527761485824.00000,1527741527761485824.00000,288556095.50000,288556095.50000,NaN,NaN,NaN,0.00000,0.00000,0.00000,1527270783168303104.00000,1527270783168303104.00000
50%,1527761082911182848.00000,1527761082911182848.00000,1527756125260681216.00000,1527756125260681216.00000,1988653961.00000,1988653961.00000,NaN,NaN,NaN,7.00000,0.00000,0.00000,1527473685124218880.00000,1527473685124218880.00000
75%,1527761718280115200.00000,1527761718280115200.00000,1527760071756767232.00000,1527760071756767232.00000,1311598573214142464.00000,1311598573214142464.00000,NaN,NaN,NaN,63.00000,0.00000,0.00000,1527595584819015680.00000,1527595584819015680.00000
max,1527762341298946048.00000,1527762341298946048.00000,1527761951144742912.00000,1527761951144742912.00000,1523383090189635584.00000,1523383090189635584.00000,NaN,NaN,NaN,4434.00000,16.00000,1.00000,1527618432820252672.00000,1527618432820252672.00000

In [12]:
df_ev[['retweet_count', 'favorite_count']]

     retweet_count  favorite_count
0                0               0
1                3               0
2                0               0
3             1128               0
4               53               0
..             ...             ...
295              0               0
296            331               0
297             42               0
298             77               0
299             54               0

[300 rows x 2 columns]

In [13]:
df_ev[['retweet_count', 'favorite_count']].describe()

       retweet_count  favorite_count
count      300.00000       300.00000
mean       131.66333         0.33333
std        401.37917         1.64659
min          0.00000         0.00000
25%          0.00000         0.00000
50%          7.00000         0.00000
75%         63.00000         0.00000
max       4434.00000        16.00000

In [14]:
interested_columns = ['retweet_count', 'favorite_count']

In [15]:
df_ev[interested_columns].describe()

       retweet_count  favorite_count
count      300.00000       300.00000
mean       131.66333         0.33333
std        401.37917         1.64659
min          0.00000         0.00000
25%          0.00000         0.00000
50%          7.00000         0.00000
75%         63.00000         0.00000
max       4434.00000        16.00000

In [16]:
df_ev[interested_columns].agg(['sum', 'min', 'mean'])

      retweet_count  favorite_count
sum     39499.00000       100.00000
min         0.00000         0.00000
mean      131.66333         0.33333

In [17]:
df_ev['lang'].value_counts()

en     137
es     117
it      19
und      8
fr       8
uk       3
tr       2
nl       1
de       1
da       1
pt       1
el       1
sv       1
Name: lang, dtype: int64

In [18]:
df_ev[['lang']].describe()

       lang
count   300
unique   13
top      en
freq    137

In [19]:
df_ev['user']

0      {'id': 1126212265869443072, 'id_str': '1126212...
1      {'id': 309612124, 'id_str': '309612124', 'name...
2      {'id': 1048624695451570177, 'id_str': '1048624...
3      {'id': 2531551437, 'id_str': '2531551437', 'na...
4      {'id': 1488398972947517443, 'id_str': '1488398...
                             ...
295    {'id': 1328996764511301632, 'id_str': '1328996...
296    {'id': 1518923968639610882, 'id_str': '1518923...
297    {'id': 4409501567, 'id_str': '4409501567', 'na...
298    {'id': 561512960, 'id_str': '561512960', 'name...
299    {'id': 1261795983840681987, 'id_str': '1261795...
Name: user, Length: 300, dtype: object

In [20]:
def expand_dictionary(row, columnname=''):
    if columnname == '':
        return row
    # Returning the original row if the column does not contain a dictionary
    if type(row[columnname]) != dict:
        return row
    
    # Otherwise, transforming the dictionary in additional columns
    for key, value in row[columnname].items():
        if type(value) != dict:
            row[key] = value
        else:
            for subkey, subvalue in row[columnname][key].items():
                if type(subvalue) != dict:
                    row[str(key)+'_'+str(subkey)] = subvalue
                else:
                    for subsubkey, subsubvalue in row[columnname][key][subkey].items():
                        row[str(key)+'_'+str(subkey)+'_'+str(subsubkey)] = subsubvalue
                
        
    return row

In [21]:
df_ev2 = df_ev.apply(expand_dictionary, axis=1, args=('user',))

In [22]:
df_ev2.columns

Index(['contributors', 'contributors_enabled', 'coordinates', 'created_at',
       'default_profile', 'default_profile_image', 'description',
       'display_text_range', 'entities', 'entities_description_urls',
       'entities_url_urls', 'extended_entities', 'favorite_count', 'favorited',
       'favourites_count', 'follow_request_sent', 'followers_count',
       'following', 'friends_count', 'full_text', 'geo', 'geo_enabled',
       'has_extended_profile', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'is_translation_enabled', 'is_translator', 'lang', 'listed_count',
       'location', 'metadata', 'name', 'notifications', 'place',
       'possibly_sensitive', 'profile_background_color',
       'profile_background_image_url', 'profile_background_image_url_https',
       'profile_background_tile', 'profile_banner_url', 'profile_image_url',
       'profile_image_url_https', 'profile_link_color',
       'profile_sidebar_border_color', 'profile_sidebar_fill_color',
       'profile_text_color', 'profile_use_background_image', 'protected',
       'quoted_status', 'quoted_status_id', 'quoted_status_id_str',
       'retweet_count', 'retweeted', 'retweeted_status', 'screen_name',
       'source', 'statuses_count', 'time_zone', 'translator_type', 'truncated',
       'url', 'user', 'utc_offset', 'verified', 'withheld_in_countries'],
      dtype='object')

In [23]:
df_ev2['followers_count'].agg(['mean','min','max'])

mean     29538.33333
min          0.00000
max    8557449.00000
Name: followers_count, dtype: float64

## Challenge 2

### Programming challenge

Download your own data from a digital platform in **JSON** or **CSV** format. You can use Facebook or Instagram data (which make the data available almost immediately), or other platforms (e.g., Google, TikTok, Spotify etc.) - but be mindful of how much time the platform says they will take to make the data available to you.

Download the data in your computer, and select one of the files that has advertising-related data (or profile interests) - but **not** your posts, personal, or network (friends or followers).

After finding this file, move it to the appropriate folder where you are running the notebook. Load it in Pandas and: 

1. Display the first 5 rows
2. Check with columns the dataframe contains
3. Check which columns have missing values
4. Summarize the information for at least one column (if it is numeric, descriptive statistics should do, if it is categorical or text, then counting frequencies and showing the top 5 items is enough).

**Note:** as shown in the videos, sometimes you may need to apply the function ```expand_dictionary``` to get meaningful data. We will cover this in more detail on DA3. If the function does not work, log an issue on GitHub with the problem (if there's still time before the submission) or select a different file in your data download package. 

### Interpretation

Write a **technical** and a **personal** summary for your dataset. 

* The **technical** summary should contain some specifications about the dataset (e.g., how it was collected, what tool was used, its length, presence of missing values, columns contained etc.). 
* The **personal** summary should contain an explanation of what the dataset contains (e.g., related to advertising), and how it relates (or not) to your online behavior.


Technical summary to follow in steps:

1 - Pandas has been imported as pd (version has been checked).

2 - Retrive the Instagram data interested and save the file in the same folder we are operating.

3 - Specify the name we want to give to the file (ig_ads) in order to save it in pandas and then ask pandas to read it specifying the path to follow in order to find the file (ig_ads = pd.read_json('../2_DA2/Ig_ad.json').

4 - Now that pandas knows the file let's ask to show the first 5 rows. (ig_ads.haed()). Data must be cleaned first since they contains other dictionaries.

5 - Let's ask pandas to show the columns which are in total 3 (ig_ads.columns).

6 - Lets's ask pandas to show which are the missing values among the columns (ig_ads.isna().sum()). No missing values found. 

7 - Let's ask pandas to create a dictionary in order tu summarize the info we do care the most about with the following code. frequencies = [
    {'n of user email': 1,'type':'hotmail','user name':'Flo','sex':'male','phone numbers available':2},
] .

8 - Let's ask pandas to transform the new created dictionary into a dataframe with the following code pd.DataFrame(frequencies) and let's haver a look on it.


Personal summary : 

the data contain some of the most important personal information of the user. The data contain two different phone numbers for instance. The data are retrived from Instagram: in the moment the analysed account has been created, one of the two phone number was in disuse. It is still in disuse today. It is curious to speculate how this phone number has been acquired by the compoany. The fact that Instagram has been acquired by Facebook and that the "two" companies "probably" speak together, the data related to the number in disuse must been retrived from Facebook since when the FB account was created this number was being used.



Use Markdown formatting to make the summary clear and visually appealing, and constantly refer to the output of the code to substantiate your claims. If needed, you can combine the code with the summary (e.g., start the summary in markdown, run the relevant code in the next cell, and interpret the output using MarkDown in the next cell).

### Reflection

Salz & Dewar (2019) discuss a set of important chalenges in their proposed ethics framework. Imagine that you will conduct a research project and ask multiple respondents to donate their platform usage data to you. Please select two challenges from those suggested by the authors, and explain how these challenges relate to doing research using these data donations. 


One of the challenge most directly linked to such scenario is regarding the privacy and anonimity. Since individuals have the right to choose what to share (activities/facts/pics..) and with who in the digital environment is one of the key feature of such challenge. Would be ethically incorrect to ask multiple respondents to share such private information (interests and other feature of the personality which individuals may want to keep private) for a project for which their anonimity would be compromised since I would know which info are related to who.

In [24]:
ig_ads = pd.read_json('../2_DA2/Ig_ad.json')

In [25]:
import pandas as pd

In [26]:
ig_ads = pd.read_json('Ig_ad.json')

In [27]:
ig_ads

                                    ig_lead_gen_info
0  {'label': 'E-mail', 'value': 'darkened_heart@h...
1             {'label': 'Nome', 'value': 'Florindo'}
2               {'label': 'Genere', 'value': 'male'}
3  {'label': 'Nome e cognome', 'value': 'Florindo...
4        {'label': 'Cognome', 'value': 'Argondizzo'}
5  {'label': 'Numero di telefono', 'value': '+316...

In [28]:
def expand_dictionary(row, columnname=''):
    if columnname == '':
        return row
    if type(row[columnname]) != dict:
        return row
    for key, value in row[columnname].items():
        if type(value) != dict:
            row[key] = value
        else:
            for subkey, subvalue in row[columnname][key].items():
                if type(subvalue) != dict:
                    row[str(key)+'_'+str(subkey)] = subvalue
                else:
                    for subsubkey, subsubvalue in row[columnname][key][subkey].items():
                        row[str(key)+'_'+str(subkey)+'_'+str(subsubkey)] = subsubvalue
                
        
    return row

In [29]:
ig_ads = ig_ads.apply(expand_dictionary, axis=1, args=('ig_lead_gen_info',))

In [30]:
ig_ads

,ig_lead_gen_info,label,value
0,"{'label': 'E-mail', 'value': 'darkened_heart@h...",E-mail,darkened_heart@hotmail.it
1,"{'label': 'Nome', 'value': 'Florindo'}",Nome,Florindo
2,"{'label': 'Genere', 'value': 'male'}",Genere,male
3,"{'label': 'Nome e cognome', 'value': 'Florindo...",Nome e cognome,Florindo Argondizzo
4,"{'label': 'Cognome', 'value': 'Argondizzo'}",Cognome,Argondizzo
5,"{'label': 'Numero di telefono', 'value': '+316...",Numero di telefono,"+31615390869, +393296051744"

In [31]:
ig_ads.columns

Index(['ig_lead_gen_info', 'label', 'value'], dtype='object')

In [32]:
ig_ads.isna().sum()

ig_lead_gen_info    0
label               0
value               0
dtype: int64

In [33]:
column3 = [
    {'Email type':'hotmail','User name':'Flo','Sex':'male','Surname':'Argondizzo','Phone numbers':2},
]

In [34]:
column3

[{'Email type': 'hotmail',
  'User name': 'Flo',
  'Sex': 'male',
  'Surname': 'Argondizzo',
  'Phone numbers': 2}]

In [35]:
pd.DataFrame(column3)

  Email type User name   Sex     Surname  Phone numbers
0    hotmail       Flo  male  Argondizzo              2

## Challenge 3

### Programming challenge

We will run sentiment analysis on the tweets collected via the Twitter API next week. This week you therefore need to **request** the sentiment analysis to us. 

Using the dataset from challenge 1, you need to:
1. Select only tweets that have language set to English (i.e., ```en```)
2. Select only the columns ```id``` and ```text```

After slicing the dataframe following the needs above you need to:
1. Save the results to a pickle file containing your name, and the language of the tweets (in ISO two-letter codes). In my case, it would be:
    * **TheoAraujo_EN.pkl**
2. Upload our OneDrive folder (see Canvas: [Requesting sentiment analysis](https://canvas.uva.nl/courses/24065/pages/requesting-sentiment-analysis))

### Interpretation

Explain to another student in your own words, how they can slice a dataframe based on columns or on rows - and how this can be useful for data analysis. Make sure to provide detailed, step-by-step explanations.


Step by step guede about slicing data (after having already colected saved and imported the data).

1 -  To slice the rows, for instance to display only the tweets of the "lang" column which contains only a specific language we need to type a different code: df_jsonl['lang']=='en'. We type first the name of the dataset, than in squared brakets the name of the column we want to slice and then we type == and the name of the language we want to extract from our dataset. Such operation won't allow you to visualize the tweets in english but will ask pandas only to verify that all the tweets are in english language. To display these, we will need a double squared braket around the whole code and leave outside a n.2 time name of our dataframe: df_jsonl[df_jsonl['lang']=='en'] .

2 - In order to request pandas to slice the columns of our data we need only to type name_of_the_file and add in DOUBLED squared brakets the name of the column\s we want to have displayed (remeber the the name of the columns are string so add always ' before the begin and after the end of each column's name. devide the string by a comma). df_jsonl[['id','full_text']] .

3 - To create a new dataframe to visualize only the columns and the rows we are interested in we can create some new data useful for us. First let's simply give a name to the new dataframe and save it giving to pandas the same code we used to slice the columns : en_tweet = df_jsonl[df_jsonl['lang']=='en']. To conclude let's ask pandas to pick only certain tweets from this dataframe slicing the rows : en_tweet[['id','full_text']] .

### Reflection

For challenges 1, 2 and 3, you have done many data science activities, from collecting tweets or your own data, loading the data, inspecting and even requesting sentiment analysis. Using the CRISP-DM explanation found in Larose 2014, provide a short overview of the actions you took, and to which step(s) of the CRISP-DM process they belong. Motivate your answer.


The instuction of the DA challenge 2 may be seen as part of the 1 "business understanding phas" since we were understanding what to do with such data. The challenge was asking us to collect data from twitter which can be included in the 2 "data understanding phase" (2a). Then the data have been then evalueted (2c). Furthermore the data have been selected 3 "Data preparation phase" (3b-c-d).

In [36]:
df_ev

,created_at,id,id_str,full_text,truncated,display_text_range,entities,metadata,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,lang,retweeted_status,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status
0,2022-05-20 21:25:01+00:00,1527762341298946053,1527762341298946048,"Netherlands so robbed this year, i will never ...",False,"[0, 88]","{'hashtags': [{'text': 'eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",1527761333499871232.00000,...,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-20 21:25:00+00:00,1527762337503100928,1527762337503100928,RT @Drazmihailovitx: Tanto la legitimaci贸n en ...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 17:16:34 +0000 2022...,NaN,NaN,NaN,NaN,NaN
2,2022-05-20 21:24:58+00:00,1527762329789669378,1527762329789669376,22. Ireland \n\nbrooke shouldve qualified a...,False,"[0, 109]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",1527761436990132224.00000,...,0,False,False,en,NaN,"{'media': [{'id': 1524732896736690177, 'id_str...",0.00000,NaN,NaN,NaN
3,2022-05-20 21:24:58+00:00,1527762329168912384,1527762329168912384,RT @IamLeroySanchez: Making History @Chanel...,False,"[0, 119]","{'hashtags': [{'text': 'Eurovision', 'indices'...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,en,{'created_at': 'Fri May 20 11:00:58 +0000 2022...,"{'media': [{'id': 1527605171995418624, 'id_str...",0.00000,NaN,NaN,NaN
4,2022-05-20 21:24:57+00:00,1527762325284892672,1527762325284892672,RT @DaniMayakovski: Estos son los heroes occid...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 19:54:20 +0000 2022...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2022-05-20 21:14:43+00:00,1527759752125718528,1527759752125718528,Sam Ryder playing concerts after eurovision an...,False,"[0, 61]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,en,NaN,"{'media': [{'id': 1527759558386515968, 'id_str...",0.00000,NaN,NaN,NaN
296,2022-05-20 21:14:42+00:00,1527759746249510913,1527759746249510912,RT @cris_ayala_: Las muestras de cari帽o al rey...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Fri May 20 13:12:26 +0000 2022...,NaN,NaN,NaN,NaN,NaN
297,2022-05-20 21:14:36+00:00,1527759719112314882,1527759719112314880,RT @ManriqueVity: Os imagin谩is un canal de tv ...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,0,False,False,es,{'created_at': 'Thu May 19 20:10:58 +0000 2022...,NaN,NaN,NaN,NaN,NaN
298,2022-05-20 21:14:29+00:00,1527759690372984832,1527759690372984832,RT @rariiiiisima: Solo pido que todos los a帽os...,False,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'es', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,es,{'created_at': 'Thu May 19 21:05:13 +0000 2022...,NaN,NaN,1527270783168303104.00000,1527270783168303104.00000,NaN
299,2022-05-20 21:14:27+00:00,1527759684140158982,1527759684140158976,RT @theswedenboo: most recent 10th places at E...,False,"[0, 122]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'iso_language_code': 'en', 'result_type': 're...","<a href=""http://twitter.com/download/android"" ...",NaN,...,0,False,False,en,{'created_at': 'Fri May 20 14:20:55 +0000 2022...,"{'media': [{'id': 1527655608480149505, 'id_str...",0.00000,NaN,NaN,NaN

In [37]:
df_ev_en = df_ev[df_ev['lang']=='en'][['id',  'full_text']]

In [38]:
df_ev_en

                      id                                          full_text
0    1527762341298946053  Netherlands so robbed this year, i will never ...
2    1527762329789669378  22. Ireland \n\nbrooke shouldve qualified a...
3    1527762329168912384  RT @IamLeroySanchez: Making History  @Chanel...
5    1527762322118287363  #Eurovision 2022 entries in the United Kingdom...
6    1527762320725770241  RT @IamLeroySanchez: Making History  @Chanel...
..                   ...                                                ...
290  1527759781443911686  Hoping Iceland win #Eurovision soon so we can ...
291  1527759775362125829  RT @NinaByzantina: What kind of Eurovision is ...
293  1527759762682683396  RT @tapmusic: Incredible achievements by @SamR...
295  1527759752125718528  Sam Ryder playing concerts after eurovision an...
299  1527759684140158982  RT @theswedenboo: most recent 10th places at E...

[137 rows x 2 columns]

In [39]:
df_ev_en.to_pickle('FlorindoArgondizzo_EN.pkl')